* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(dastur.jpg);
    background-position: center;
    background-size: cover;
}

label {
    color: yellow;
}

input {
    font-size: 25px;
}

.container {
    margin: 0 auto;
    width: 70%;
}


#header {
    text-align: center;
    background-color: crimson;
    padding: 25px;
    color: white;
}


#header h1 {
    text-align: center;
    color: white;
    display: inline-block;
}


#header .logo {
    color: coral;
}



.navbar {
    float: right;
}



.navbar li {
    display: inline;
}



.navbar a {
    padding: 5px;
    text-decoration: none;
    color:yellow;
}



.navbar a:hover {
    color: coral;
}


#registr {
    color: red;
    background-color: coral;
    text-align: center;
}

button {
    background-color: yellow;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 2px;
}

#two {
    text-align: center;
}



















































































































































