* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.container {
    margin: 0 auto;
    width: 70%;
}


#header {
    text-align: center;
    background-color: crimson;
    padding: 25px;
    color: white;
}


#header h1 {
    text-align: center;
    color: white;
    display: inline-block;
}


#header .logo {
    color: coral;
}



.navbar {
    float: right;
}



.navbar li {
    display: inline;
}



.navbar a {
    padding: 5px;
    text-decoration: none;
    color:yellow;
}




#two {
    text-align: center;
}


#three {
    text-align: center;
}
.navbar a:hover {
    color: coral;
}


